.btn{
    background-color: lightcoral;
    color:darkblue;
    /* 버튼의 테두리를 없앤다, 브라우저 기본 버튼은 테두리가 존재하기 때문 */
    border:none;
    padding: 10px 20px;
    /* 버튼의 모양을 둥글게 만든다  */
    border-radius: 10px;
    /* 마우스를 올렸을 때 손가락 모양으로 바꿔준다 */
    cursor:pointer;
}

.btn:hover{
    /* 마우스가 버튼 위로 올라갔을 때 스타일을 바꿔줄 수 있다 */
    background-color: lightgoldenrodyellow;
    color:red;
}
