.box{
    border:1px solid black;
    width: 500px;
    height: 500px;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    /* flex-wrap:wrap; */
}

.div-box{
    border: 1px solid black;
    width:100px;
    height: 100px;
}