body{
    background-color: gray;
    padding:50px
}

.box{
    width:100px;
    height:100px;
    background-color: bisque;
    color: white;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;

    position: relative; 
    /* 자신의 원래 위치를 기준으로 left이동 가능 */
    animation: moveBox 5s infinite alternate;
    /* animation으로 이동하게 만들수 있다. */
}

@keyframes moveBox{
    from{ left:0px}
    to{left:700px}
}